.menu {
    display: none;
}

.item {
    width: 100%;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    color: white;
}

.item span {
    display: none;
}

@media (min-width: 700px) {
    .menu {
        width: 5rem;
        height: 100%;
        background: #328de8;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        transition: ease-out 0.4s;
        inset: 0;
        position: absolute;
    }

    .menu:hover {
        width: 15rem;
        transform: translateX(0%);
    }

    .name:hover {
        display: flex;
        color: aliceblue;
    }

    .item {
        display: block;
    }
}
